flows.json
[{"id":"9b219d4e.8124e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5b3a4708.6da208","type":"http request","z":"9b219d4e.8124e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/26557161-5006-4a47-a118-30c11b7f7963/deployments/220ca905-8141-48f0-939e-6ad04622a2c2/online","tls":"","proxy":"","x":510,"y":80,"wires":[["4c70cbb2.0dfb84"]]},{"id":"51b60cc0.755224","type":"function","z":"9b219d4e.8124e","name":"prediction","func":"var token=msg.payload.token;\nvar e=global.get(\"e\");\nvar w=global.get(\"w\");\nvar s=global.get(\"s\");\nvar h=global.get(\"h\");\nvar o=global.get(\"o\");\nvar o1=global.get(\"o1\");\nvar o2=global.get(\"o2\");\nvar cl=global.get(\"cl\");\nvar cg=global.get(\"cg\");\nvar a=global.get(\"a\");\nmsg.payload={\"fields\":[\"Education\",\"Workclass\",\"Sex\",\"Hoursweek\",\"Occupation\",\"Occupation1\",\"Occupation2\",\"Capital loss\",\"Capital gain\",\"Age\"],\"values\":[[e,w,s,h,o,o1,o2,cl,cg,a]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["5b3a4708.6da208"]]},{"id":"e6091fd9.24994","type":"debug","z":"9b219d4e.8124e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":160,"wires":[]},{"id":"829e5e6a.bf8f7","type":"http request","z":"9b219d4e.8124e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":490,"y":300,"wires":[["3daa6edb.27bbc2","51b60cc0.755224"]]},{"id":"883589d9.bdbe78","type":"inject","z":"9b219d4e.8124e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":100,"wires":[["1ce83e2d.6af192"]]},{"id":"1ce83e2d.6af192","type":"function","z":"9b219d4e.8124e","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"806c3689-1807-4277-a6a0-32e920ce53bd\"\nvar password=\"49dbe3ff-94a9-4c42-aaef-83e296a10e28\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"e\",msg.payload.e)\nglobal.set(\"w\",msg.payload.w)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"h\",msg.payload.h)\nglobal.set(\"o\",msg.payload.o)\nglobal.set(\"o1\",msg.payload.o1)\nglobal.set(\"o2\",msg.payload.o2)\nglobal.set(\"cl\",msg.payload.cl)\nglobal.set(\"cg\",msg.payload.cg)\nglobal.set(\"a\",msg.payload.a)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["829e5e6a.bf8f7"]]},{"id":"4c70cbb2.0dfb84","type":"function","z":"9b219d4e.8124e","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":180,"wires":[["e6091fd9.24994","72449feb.82b3d"]]},{"id":"3daa6edb.27bbc2","type":"debug","z":"9b219d4e.8124e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":360,"wires":[]},{"id":"72449feb.82b3d","type":"ui_text","z":"9b219d4e.8124e","group":"1983a81c.38d168","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":240,"wires":[]},{"id":"8c83ff17.7ca64","type":"ui_form","z":"9b219d4e.8124e","name":"","label":"","group":"1983a81c.38d168","order":1,"width":0,"height":0,"options":[{"label":"Education","value":"e","type":"number","required":true},{"label":"Workclass","value":"w","type":"number","required":true},{"label":"Sex","value":"s","type":"number","required":true},{"label":"Hoursweek","value":"h","type":"number","required":true},{"label":"Occupation","value":"o","type":"number","required":true},{"label":"Occupation1","value":"o1","type":"number","required":true},{"label":"Occupation2","value":"o2","type":"number","required":true},{"label":"Capital loss","value":"cl","type":"number","required":true},{"label":"Capital gain","value":"cg","type":"number","required":true},{"label":"Age","value":"a","type":"number","required":true}],"formValue":{"e":"","w":"","s":"","h":"","o":"","o1":"","o2":"","cl":"","cg":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":380,"wires":[["1ce83e2d.6af192"]]},{"id":"1983a81c.38d168","type":"ui_group","z":"9b219d4e.8124e","name":"Prediction","tab":"320624b4.50471c","disp":true,"width":"6","collapse":false},{"id":"320624b4.50471c","type":"ui_tab","z":"9b219d4e.8124e","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]